
/***************** setting section *****************/
.body-setting{
    font-family: 'Atkinson Hyperlegible';
    background-color: #152938;
    background-size: cover;
}
.setting-section{
    height: max-content;
    width: min(100%, 450px);
    margin: auto;
    font-family: sans-serif;
    
}
.setting-lable{
    color: #FCFCFC;
    padding-bottom: 20px;
    text-align: center;
    
}
.setting-form{
    background-color:#FCFCFC;
    display: flex;
    flex-flow: wrap column;
    gap: 30px;
    padding: 30px;
    border-radius: 20px;

}
.setting-lable-input{
    color: #7191a5;  
    height: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}
.setting-input{
    display: flex;
    flex-flow:row;
    justify-content: space-evenly;
    gap: 30px;
}
.set-input{
    display: none;
}
table{
    width: 100%;
    table-layout: fixed;
}
td{
    padding-right: 5px;
    padding-left: 5px;
}
.set-input-lable{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    color: #FCFCFC;
    border-radius: 20px;
    background-color: #BCCED9;
    transition: 0.1s linear background-color;
    display: table-cell;
    cursor: pointer
}
.set-input-lable:hover{
    background-color: #304859;
}
.set-btn-start{
    background: #fda214;
    border-radius: 35px;
    display: inline-block;
    color: #FCFCFC;
    border: none;
    padding: 15px;
    outline: #FCFCFC;
    cursor: pointer;
    font-size: 20px;
}
/*************** game page *****************/
.body-game-page{
    position: fixed;
    background-color:#FCFCFC;
    background-size: cover;
    font-family: 'Atkinson Hyperlegible';

}
.game-label{
    float: left;
    padding-left: 25px;
    padding-top: 10px;
}
.btn-game{
    display: inline;
    flex-flow: column wrap;
    gap: 20px;
    position: fixed;
    float: right;
    top: 0;
    right: 0;
    height: auto;
    padding: 30px;  
}

@media(min-width:748px){
    .btn-game{
        flex-flow: row;
        }
}
.btn-reset{
    background-color:#fda214;
    color: #FCFCFC;
    border-radius: 20px;
    outline: none;
    border: none;
    font-weight: 700;
    padding: 10px 25px;
    height: max-content;
    cursor: pointer;
    text-align: center;
}
.btn-new-game{
    background: color #dfe7ec;;
    color:#152938;
    border-radius: 20px;
    outline: none;
    border: none;

    font-weight: 700;
    padding: 10px 25px;
    height: max-content;
    cursor: pointer;
    text-align: center;
}
/***************** cards section ******************/

/* .game-cards{
    flex-flow: column;
    justify-content: space-between;
    justify-content: space-around;
    gap: 30px;
} */
.memory-game-blocks{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-0%,-0%);
    margin: 0 auto;
}

.memory-game-blocks .game-block{
    height: 100px;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 120px ;
    
}
.memory-game-blocks .game-block .front{
    background-color:#304859;
    line-height: 200px;
    border-radius: 90px;
    width: 70px;
    height: 70px;
}
.memory-game-blocks .game-block .back{
    background-color: #BCCED9;
    transform: rotateY(180deg);
    border-radius: 90px;
    width: 70px;
    height: 70px;
    
}
.memory-game-blocks .game-block img{
    width: 50px;
    height: 50px;
    margin: 5px 5px 5px 5px;
}
.memory-game-blocks .game-block .cards{
    position: absolute;
    width: 70%;
    height: 70%;
    text-align: center;
    backface-visibility: hidden;
}
.memory-game-blocks .game-block.is-filpped{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

